html, body{ 
	font-family: 'Ubuntu', sans-serif;
}

[width-limit] {
	max-width: 1000px;
	margin: 8px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

kbd {
	padding: .1em .6em;
    border: 1px solid #ccc;
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #f7f7f7;
    color: #333;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    border-radius: 3px;
    display: inline-block;
    margin: 0 .1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4;
    white-space: nowrap;

}

kbd img {
	height: 8px;
}

md-content {
	background-color: initial !important;
}

.ads {
	margin-bottom: 12px;
}

#ghoul {
	width: 38%;
    z-index: 99;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: none;
}

.greyed {
	color: grey;
}

.unselectable {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}